<!--components > main-content.html-->

<main class="content" role="main">
  <div class="fixed-grid-container">
    <div class="grid-content">
      <!-- First Column -->
      <div class="grid-column">
        <div
          class="grid-item"
          main-category="plugins"
          category="octomass"
          data-project="octomass"
        >
          <img
            src="img/Plugins/MassLight.png"
            alt="OctoMass Plugin"
            loading="lazy"
          />
          <div>OctoMass</div>
        </div>

        <div
          class="grid-item"
          main-category="plugins"
          category="octomass"
          data-project="octomass"
        >
          <img
            src="img/Plugins/MassLight.png"
            alt="OctoMass Plugin"
            loading="lazy"
          />
          <div>OctoMass</div>
        </div>
      </div>

      <!-- Second Column -->
      <div class="grid-column">
        <div
          class="grid-item"
          main-category="plugins"
          category="octoland"
          data-project="octoland"
        >
          <img
            src="img/Plugins/LandLight.png"
            alt="OctoLand Plugin"
            loading="lazy"
          />
          <div>OctoLand</div>
        </div>

        <div
          class="grid-item"
          main-category="projects"
          category="Competition"
          data-project="oasis"
        >
          <img
            src="img/Projects/Competition/Oasis/OasisLight.png"
            alt="Oasis Project"
            loading="lazy"
          />
          <div>Oasis</div>
        </div>

        <div
          class="grid-item"
          main-category="educations"
          category="rhino"
          data-project="rhinoflow"
        >
          <img
            src="img/Education/Rhino/FlowLight.png"
            alt="RhinoFlow Education"
            loading="lazy"
          />
          <div>RhinoFlow</div>
        </div>

        <div
          class="grid-item"
          main-category="educations"
          category="grasshopper3d"
          data-project="boxmorphe"
        >
          <img
            src="img/Education/Rhino/FlowLight.png"
            alt="RhinoFlow Education"
            loading="lazy"
          />
          <div>RhinoFlow</div>
        </div>
      </div>
    </div>
  </div>
</main>
