<!--components > main-content.html-->

<main class="content" role="main">
  <div class="fixed-grid-container">
    <div class="grid-content">






            <!-- First Column -->
            <div class="grid-column">
              <div
                class="grid-item"
                main-category="projects"
                category="professional"
                data-project="tectotrack"
              >
                <img
                  src="../pages/projects/professional/tectotrack/logo.png"
                  alt="OctoMass Plugin"
                  loading="lazy"
                />
                <div>OctoMass</div>
              </div>
      
            </div>


      <!-- First Column -->
      <div class="grid-column">
        <div
          class="grid-item"
          main-category="plugins"
          category="octomass"
          data-project="octomass"
        >
          <img
            src="../pages/plugins/octomass/logo.png"
            alt="OctoMass Plugin"
            loading="lazy"
          />
          <div>OctoMass</div>
        </div>

        <div
          class="grid-item"
          main-category="events"
          category="bootcamp"
          data-project="abms-bootcamp"
        >
          <img
            src="../pages/events/bootcamp/ABMs-IUST-2024/main-logo.png"
            alt="ABMs Bootcamp"
            loading="lazy"
          />
          <div>OctoMass</div>
        </div>


        <div
        class="grid-item"
        main-category="plugins"
        category="octocity"
        data-project="octocity"
      >
        <img
          src="../pages/plugins/octocity/logo.png"
          alt="OctoLand Plugin"
          loading="lazy"
        />
        <div>OctoCity</div>
      </div>


      </div>





      <!-- Second Column -->
      <div class="grid-column">
        <div
          class="grid-item"
          main-category="plugins"
          category="octoland"
          data-project="octoland"
        >
          <img
            src="../pages/plugins/octoland/octoland.png"
            alt="OctoLand Plugin"
            loading="lazy"
          />
          <div>OctoLand</div>
        </div>










        <div
          class="grid-item"
          main-category="projects"
          category="academic"
          data-project="printerra"
        >
          <img
            src="../pages/projects/academic/printerra/logo.png"
            alt="printerra"
            loading="lazy"
          />
          <div>printera</div>
        </div>


      </div>



<!-- third Column -->
      <div class="grid-column">
        <div
          class="grid-item"
          main-category="publications"
          category="academic"
          data-project="masterthesis"
        >
          <img
            src="../pages/projects/academic/Thesis/MainLogo.png"
            alt="MasterThesis"
            loading="lazy"
          />
          <div>masterthesis</div>
        </div>






      </div>



      <!-- fourth Column -->
      <div class="grid-column">
        <div
          class="grid-item"
          main-category="events"
          category="workshop"
          data-project="sdinbe"
        >
          <img
            src="../pages/events/workshop/LogoArtboard 18@4x.png"
            alt="sdinbd"
            loading="lazy"
          />
          <div>sustainabledevelopment</div>
        </div>






      </div>



      
    </div>
  </div>
</main>
