.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 10px;
  flex-wrap: wrap;
}

.header-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.logo-container img {
  width: 120px;
  height: auto;
  flex-shrink: 0;
}

.header-title {
  margin: 0;
  padding-top: 3px;
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: var(--accent-green);
  white-space: nowrap;
  text-shadow: var(--glow-green);
}

.header-subtitle {
  margin: 5px 0;
  font-size: clamp(0.8rem, 1.2vw, 1.1rem);
  font-weight: 100;
  color: var(--pach-color);
  white-space: normal;
}
